.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  width: 228px;
  height: 32px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
  background-size: cover;
}

.header__title {
  display: flex;
  align-items: center;
  max-width: 730px;
  margin: 0 0 0 64px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 1;
}

.header__subtitle {
  position: absolute;
  max-width: 388px;
  left: 64px;
  bottom: 30px;
  margin: 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 1;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  display: flex;
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  top: 64px;
  right: 0;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  right: 0;
  bottom: 0;
  background-image: url(../images/header-image.png);
  background-size: cover;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  color:#2f80ed;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  width: 175px;
  margin: 0;
}

.two-columns__main-text {
  display: flex;
  width: 80%;
  min-width: 784px;
  flex-direction: column;
  row-gap: 30px;
}

.two-columns__paragraph {
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
}

.two-columns__span-accent {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
}

.techniques {
  width: 80%;
  margin: 0 auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.section-title {
  width: 60%;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0;
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.cards {
  width: 920px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  column-gap: 100px;
}

.cards__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  margin-top: 60px;
}

.cards__image {
  width: 160px;
  height: 160px;
  border-radius: 50%;
}

.cards__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin-top: 43px;
  text-align: center;
}

.cards__description {
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  margin-top: 16px;
  margin-bottom: 0;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
}

.video__iframes {
  position: relative;
  bottom: -50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

.video__iframe:first-child {
  margin-right: 20px;
}

.oakley {
  display: flex;
  justify-content: center;
  padding-top: 160px;
  background-color: #f2f2f2;
}

.feynman {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 890px;
  background: #f2f2f2 url(../images/feynman.png) no-repeat left bottom;
  background-size: 867px 637px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.feynman__title {
  margin: 100px 0 0;
  max-width: 648px;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
}

.feynman__subtitle {
  margin: 70px 0 0;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  text-decoration: none;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
}

.table__text {
  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;
  margin: 20px 0 0;
}

.khan {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
}

.khan__author {
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
}

.khan__title {
  margin: 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
}

.khan__quote {
  width: 790px;
  margin: 50px 0 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.khan__quote-author {
  margin-top: 36px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
}

.khan__quote-author-subline {
  margin: 10px 0 0;
  font-size: 24px;
  font-weight: normal;
  line-height: 1.15;
}

.khan__book-container {
  margin-top: 68px;
  display: flex;
}

.khan__book-pic {
  background-image: url(../images/khan-book.jpg);
  background-size: cover;
  width: 608px;
  height: 620px;
  margin-right: 48px;
}

.khan__buy-link {
  color: #2f80ed;
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: 42px;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 90px 0 90px;
  background-color: #1f1f1f;
  overflow: hidden;
  z-index: 0;
}

.section-title_theme_dark,
.section-subtitle_theme_dark,
.table_theme_dark,
.table__heading_theme_dark,
.table__text_theme_dark {
  color: #fff;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  top: 0;
  right: -210px;
  z-index: -1;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 217px;
}

.resources__logo-zone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  max-width: 1100px;
  margin: 80px 0 0;
  padding: 0;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1f1f1f;
  color: #fff;
  min-height: 350px;
}

.footer__columns {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: contain;
}

.footer__author {
  margin: 18px 0;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
}

.footer__column_content_copyright {
  justify-content: space-between;
  flex-basis: 711px;
}

.footer__column-heading {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin: 0;
}

.footer__column-links {
  list-style-type: none;
  font-size: 18px;
  font-weight: normal;
  line-height: 30px;
  margin: 20px 0 16px;
  padding: 0;
}

.footer__column-link {
  color: #fff;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
